{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<hr>
<a id="curvBtn" href="{% url 'store' %}"
			class="btn btn-secondary" style="font-size: 20px">
			<i class="fas fa-caret-left"></i> Continue Shopping</a>
			
<div class="container box-element d-flex justify-content-center">
	<div class="row">
	  <div class="col-md-4">  
			  <figure>
				  <img class="picsize" src="{{products.imageURL}}">
			  </figure>	
	  </div>
	  
	  <div class="col-md-6"> 

	<h3>{{products.name}}</h3>
	<br>
	
	  <div class="Container">
		<h4>Description</h4>
		<p>{{products.detail|linebreaks}}</p>
	  </div>	
	</div>
	<div class="col-md-4">
		<hr/>
		<table class="table table-bordered">
			<tr>
				<th>Price</th>
				<th>RM{{products.price|floatformat:2}}</th>
			</tr>
		</table>
		<hr/>
		<div class="d-inline">	
			<button id="curvBtn" data-product={{products.id}} data-action="add" 
			class="btn btn-primary add-btn update-cart" style="font-size: 20px">
			<i class="fas fa-shopping-cart"></i> Add to Cart</button>

			<a id="curvBtn" href="{% url 'checkout' %}"
			class="btn btn-success" style="font-size: 20px">
			<i class="fas fa-cash-register"></i> Check Out</a>
		</div>
	</div>
	</div>
</div>
<hr />

{% endblock content %}